.container {
	margin-top: 6em;
	margin-bottom: 3rem;
}

.orange {
	color: orange;
}

.red {
	color: red;
}
.center {
	margin: auto;
	width: 50%;
	border: 3px solid green;
	padding: 10px;
}
body{
	font-family: Helvetica;
	margin: 0;
}

h1,h2,h3{
	margin: 0;
}

#reviewForm {
	background-color: lightgrey;
	padding: 1rem;
	border-radius: 10px;
}

#reviewForm select {
	width: 200px;
}

#stars1:after{
	content: '';
	display: block;
	height: 40px;
	width: 40px;
	top: 0px;
	left: -40px;
	margin-top:1rem;
	background: url(../../assets/images/icons/star.svg) repeat-x 0px 0px;
}

#stars2:after{
	content: '';
	display: block;
	height: 40px;
	width: 80px;
	top: 0px;
	left: -40px;
	margin-top:1rem;
	background: url(../../assets/images/icons/star.svg) repeat-x 0px 0px;
}

#stars3:after{
	content: '';
	display: block;
	height: 40px;
	width: 120px;
	top: 0px;
	left: -40px;
	margin-top:1rem;
	background: url(../../assets/images/icons/star.svg) repeat-x 0px 0px;
}

#stars4:after{
	content: '';
	display: block;
	height: 40px;
	width: 160px;
	top: 0px;
	left: -40px;
	margin-top:1rem;
	background: url(../../assets/images/icons/star.svg) repeat-x 0px 0px;
}

#stars5:after{
	content: '';
	display: block;
	height: 40px;
	width: 200px;
	top: 0px;
	left: -40px;
	margin-top:1rem;
	background: url(../../assets/images/icons/star.svg) repeat-x 0px 0px;
}

main{
	width: 80%;
	height: 100%;
	margin: 30px auto;
	border-radius: 10px;
}

.content{
	padding: 20px;
}

.content ul{
	padding: 0;
	list-style-type: none;
	margin: 30px 0;
}

.content li{
	padding: 15px 0;
	border-bottom: 1px solid #e2e2e2;
	color: #444;
}

.content li span{
	float: right;
}

.content input, .content textarea {
	width: 700px;
	padding: 10px;
	margin: 10px 0;
}

.content input[type="submit"]:last-child{
	width: 150px;
	display: block;
	margin: 15px auto;
}

.remove{
	float: right;
	padding: 5px;
	background: #fff;
	width: 18px;
	text-align: center;
	border-radius: 20px;
	color: crimson;
	cursor: pointer;
	margin-left: 10px;
}

img.detailImg {
	width: 100%!important;
}

div#signUpSuccess {
	background: #ecf0f1!important;
	border-radius:40px!important;
}

small.error {
	color:red;
	display:block;
	text-align:center;
}

/*  AMIMATION   */
main.ng-enter {
	transition: 0.5s linear all;
	opacity: 0;
}

main.ng-enter.ng-enter-active {
	opacity: 1;
}

#review-list li.ng-enter {
	transition: 0.2s linear all;
	opacity: 0;
	transform: translateY(30px);
}

#review-list li.ng-enter.ng-enter-active {
	opacity: 1;
	transform: translateY(0);
}

input#reviewDate.ng-invalid-pattern {
border: 2px solid red;
}
input:focus, textarea:focus {
outline: none;
}

.reviewForm.ng-invalid.ng-touched {
border: 2px solid red;
}

.reviewForm.ng-valid.ng-touched {
border: 2px solid green;
}

input[disabled="disabled"] {
opacity: 0.4;
cursor: not-allowed!important;
}

.red {
color: red;
}
small.error {
color:red;
display:block;
text-align:center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.addReviewBTN {
	width:100%!important;
}
/* .ng-valid[required], .ng-valid.required  { */
  /* border-left: 5px solid #42A948; /* green */
/* } */

/* .ng-invalid:not(form)  { */
  /* border-left: 5px solid #a94442; /* red */
/* } */
