<header>
    <!-- <div class="container-fluid"> -->
      <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light header-bg">
        <a class="navbar-brand" href="#"><img class="logo" src="assets/images/logo/Logo.svg" alt="Logo-alt"/></a>
  
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <!-- Navbar links -->
        <div class="collapse navbar-collapse flex-row-reverse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/avaliable" routerLinkActive="active">Available Rooms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/booking-record" routerLinkActive="active">Booking Record</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/feedback" routerLinkActive="active">Feedback</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>
    <!-- </div> -->
  </header>
  
