.right-margin{
    margin-left: 40%;
}
.header-bg{
    background-color: #1E3356 !important;
}
.nav-link{
    color: #fff !important;
    margin-left: 20px; 
    margin-right: 20px; 
}
img.logo{
    width:80%;
}