<footer>
    <div class="container-fluid top-footer-bg">
      <div class="row">
        <div class="col-md-4">
            <a class="navbar-brand" href="#"><img class="logo" src="assets/images/logo/Logo.svg" alt="Logo-alt"/></a>
        </div>
        <div class="col-md-4">

          </div>
          <div class="col-md-4">

          </div>
      </div>
    </div>
    <nav class="navbar navbar-light bg-light footer-bg-color">
      <a class="navbar-brand" href="#">&copy; Dal Hotels 2019</a>
    </nav>
</footer>
