#background{
    background:transparent url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8HY82AVXn9rFSW-D6gAwCYSh5NpfQe8DXfw_dQxPY9bT6vYoW') repeat 
}
  
#textId{
    font-family: Georgia, 'Times New Roman', Times, serif
    }