<app-search-filter></app-search-filter>
<section class="section-gray section-padding">
<br><br>
    <h3 class="title-bold text-center">Book Rooms</h3>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">                        
                          <table class="table">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col">Room Type</th>
                                <th scope="col">Room Cost</th>
                                <th scope="col">Number of Nights</th>
                                <th scope="col">Check In Date</th>
                                <th scope="col">Number Of Guests</th>
                                <th scope="col" class="text-center">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let Broom of RoomViews; let i = index" id="{{Broom['id']}}">
                                <td>{{Broom["beds"]}} Beds</td>
                                <td>{{Broom["cost"]}}</td>
                                <td><input type="number" [(ngModel)]="nightArray[Broom['id']]" class="form-control cost" /></td>
                                <td><input type="date" name="checkInTime" [value]="startDate" [(ngModel)]="Broom['date']" [min]="startDate" [max]="endDate" (ngModelChange)="dateChecker(Broom['date'],i)"></td>
                                <td><input type="number" [(ngModel)]="Broom['no_of_guests']" class="form-control cost" /></td>
                                <td><button class="btn btn-danger btn-rounded" (click)="CancelBooking(Broom['id'])">Cancel Booking</button></td>
                                <td></td>
                              </tr>
                                <tr>
                                    <td class="text-left">
                                    <!--<button class="btn btn-success btn-rounded pay-btn" data-toggle="modal" data-target="#exampleModal">Pay</button>-->
                                    <div id="paypal-button"></div>
                                    </td>
                                    <td class="text-left" colspan="3">
                                    <button class="btn btn-outline-secondary btn-rounded pay-btn" (click)="payOnCheckIn()">Pay on Check In</button>
                                    <button class="btn btn-secondary btn-rounded pay-btn" (click)="Redeemed()">{{RedeemedStatus}}</button></td>
                                    <td class="text-right"><strong>Total Cost:${{totalBookingCost()}}</strong></td>
                                </tr>
                            </tbody>
                          </table>
                          <br><br>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Pay With Card</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Amount</label>
                    <input type="number" disabled value="{{total}}" required placeholder="Amount" class="form-control" />
                </div>
                <div class="form-group">
                        <label>Card Number</label>
                    <input type="number" required placeholder="Card Number" class="form-control" />
                </div>
                <div class="form-group">
                        <label>CVV</label>
                    <input type="number" required placeholder="CVV" class="form-control" />
                </div>
                <div class="form-group">
                        <label>Card Number</label>
                        <input type="month" required placeholder="Card Number" class="form-control" />
                </div>
                <div class="form-group">
                        <label>Pin</label>
                        <input type="number" required min="1000"max="9999" placeholder="Security Pin" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" (click)="BookingComplete()">Pay</button>
            </div>
          </div>
        </div>
      </div>