<!--William Devine-->
<app-search-filter></app-search-filter>
<section class="section-padding section-gray">
    <div class="container">
        <h3 class="title-bold text-center">Available Rooms</h3>
      
        <div class="row" id="room-list">
          <!--Using *ngFor will cycle through the rooms array from available-room.component and print all data
              at each indicie of the array. AKA - it will print each room in its own card. -->
          <div class="col-lg-4 p-3"  *ngFor="let room of rooms; let i = index">
            <div class="card no-side-padding no-top-padding grow">
                <div class="card-body no-side-padding no-top-padding">
                <div class="row">
                    <div class="col-lg-12 " >
                    {{hasResult()}}
                        <img class="img-responsive" src="{{roomcount[i]}}" alt="{{room.img}}{{genRandomNum()}}.jpg">
                        <div class="has-side-padding has-top-padding">
                            <h4 class="title text-center">Room Type: {{room.beds}} beds</h4>
                            <p><strong>Room Size:</strong> {{room.size}} room</p>
                            <p><strong>Cost:</strong> {{room.cost | currency}} Per Night</p>
                          <!--  <p>ID: {{room.id}}</p>
                            <p>I: {{i}}</p>
                            <div class="function_div" (click)="test(i);">Test Button </div>-->
                            <div class="text-center">
                              <!-- Icon by Smashicons in FlatIcons -->
                              <img *ngFor="let star of range(room.ratings)" src="assets/images/icons/star.svg" class="img-star" alt="star" width="20" height="20" />
                          </div>
                          <p class="p-content-room text-center">Address: {{room.address}}</p>
                            <div class="text-center">
                                <button routerLink="/room-detail" routerLinkActive="active" class="btn btn-outline-secondary btn-rounded btn-room" (click)="viewDetails(i)">View Details</button>
                                <button routerLink="/bookings" routerLinkActive="active"  class="btn btn-primary btn-rounded btn-room">Book Now</button>
                            </div>
                        </div>
                        </div>
                </div>
                </div>
            </div>
          </div>
      
        </div>
      </div>
</section>
