<!--By Shuo -->
<app-search-filter></app-search-filter>
<section class="section-gray">
    <div class="container content" >
        <div class="row mt-3" >

            <div class="col-lg-12">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a [ngClass]="!show ? 'active' : '' " class="nav-link" (click)="showHistory()">Booking History</a>
                  </li>
                  <li class="nav-item">
                      <a [ngClass]="show ? 'active' : '' " class="nav-link" (click)="showUpcoming()">Upcoming Bookings</a>
                  </li>
                </ul>

                <div id="historyTab" class="mt-5" *ngIf="!show" >
                    <h4 class="text-center title-bold">Booking History</h4>
                    <table class="mt-5 table table-hover">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">Reference Number</th>
                                <th scope="col">Date</th>
                                <th scope="col">Price</th>
                                <th scope="col">Points Earned</th>
                                <th scope="col">View Receipt</th>
                                <th scope="col">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" *ngFor="let booking of bookingHistory">
                                <td>{{ booking.ref }}</td>
                                <td>{{ booking.date }}</td>
                                <td>{{ booking.price | currency}}</td>
                                <td>{{ booking.pointsEarned }}pts</td>
                                <td>
                                    <a href="assets/pdf/receipt.pdf" download><button class="btn btn-outline-secondary outline-button-blue"  href="/assets/pdf/receipt.pdf" download >View</button></a>
                                </td>
                                <td>
                                    <button (click)="sendMail()"class="btn btn-outline-secondary outline-button-blue">Mail Receipt</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="upcomingTab" class="mt-5" *ngIf="show" >
                    <h4 class="text-center title-bold">Upcoming Bookings</h4>
                    <table class="mt-5 table table-hover">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">Reference Number</th>
                                <th scope="col">Date</th>
                                <th scope="col">Price</th>
                                <th scope="col">Number of Nights</th>
                                <th scope="col">Cancel Booking</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" *ngFor="let booking of upcomingBookings; let i = index" [attr.data-index]="i">
                              <td>{{ booking.ref }}</td>
                                <td>{{ booking.date }}</td>
                                <td>{{ booking.price | currency}}</td>
                                <td>{{ booking.nights }}</td>
                                <td>
                                    <button  [disabled]="!booking.status" [ngClass]="booking.status?'btn btn-danger':'btn btn-default text-danger disabled'"  (click)="cancel(booking,i)">{{booking.status?'Cancel':'Cancelled'}}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

</section>
