<section class="section-gray login-form top-element">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-md-3">
                <div class="card rounded-0">
                    <div class="card-header">
                    <h3 class="mb-0 title-bold text-center">Login</h3>
                    </div>
                    <div class="card-body">
                    <form class="form" method="post" name="signUpForm" (ngSubmit)="onSubmit()" #signUpForm="ngForm" >
                        <!-- Name -->
                        <div class="form-group">
                                <label for="email">Email <span class="text-danger">*</span></label>
                                <input id="email" class="login form-control form-control-lg rounded-0 input-rounded" type="email"
                                       required
                                       placeholder="Email"
                                       name="email"
                                       [(ngModel)]=model.email
                                       [email] = "true"
                                       #email="ngModel" />
                                <div [hidden]="email.valid || email.untouched"
                                        class="alert alert-danger">
                                    Invalid Email
                                </div>
                            </div>
                            <!-- Password -->
                            <div class="form-group">
                                    <label for="password">Password <span class="text-danger">*</span></label>
                                    <input id="password" class="login form-control form-control-lg rounded-0 input-rounded" type="password"
                                            required
                                            placeholder="Password"
                                            name="password"
                                           [(ngModel)]=model.password
                                           pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[/\$@$!%*#?&])[A-Za-z\d/\$@$!%*#?&]{8,20}$"
                                           #password="ngModel"/>
                                    <div [hidden]="password.valid || password.untouched"
                                            class="alert alert-danger">
                                            Invalid Password
                                    </div>
                                </div>
                                <!-- Submit Form -->
                                <div class="mt-3">
                                        <input class="btn btn-color btn-rounded btn-lg btn-block" type="submit" value="Login" [disabled]="signUpForm.invalid"/>
                                    </div>
                                    <p style="color: red">{{status}}</p>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
