.profile-img{
    margin-bottom: 10px;
    width:65%;
}
.reward-div{
    width:70%;
    margin-left: 15%;
    margin-top:5px;
}
.text-bold-blue{
    color:#7AA9DA;
    font-family:CERA-ROUND-PRO-BOLD;
}