<div class="slide">
    <h1 class="title-bold">Book Rooms At The <span class="cera-black color-white bold-slider">DAL HOTELS</span></h1>
    <p class="p-content color-gray m-center">Find The Best Quality Rooms At The Dal Hotels</p>
    <div class="search-bar">
            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <button class="btn btn-outline-secondary dropdown-toggle outline-button-blue" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Location</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Ratings</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Tags</a>
                      </div>
                    </div>
                    <input type="text" class="form-control search-padding" aria-label="Text input with dropdown button" placeholder="Avaliable Rooms">
                    <div class="input-group-append">
                        <button class="btn btn-secondary button-blue" type="button">Search</button>
                    </div>
                </div>
    </div>
</div>


