<p>
  home works!
</p>
<a routerLink="/login" routerLinkActive="active">login</a>
<br><br>
<a routerLink="avaliable" routerLinkActive="active">avaliable</a>
<br><br>
<a routerLink="/sign-up" routerLinkActive="active">Sign up</a>
<br><br>
<a routerLink="/bookings" routerLinkActive="active">Booking</a>
<br><br>
<a routerLink="/profile" routerLinkActive="active">Profile</a>
<br><br>
<a routerLink="/feedback" routerLinkActive="active">feedback</a>
<br><br>
<a routerLink="/contact" routerLinkActive="active">Contact</a>
<br><br>
<a routerLink="/" routerLinkActive="active">Home</a>
